<ul class="nav nav-stacked fixed sports-sidebar" id="sidebar">
    <li class="sidebar-leagues" >
    	<div class="league" data-id="1">NFL Football</div>
    	<div class="league" data-id="2">MLB Baseball</div>
    	<div class="league" data-id="3">NBA Basketball</div>
    	<div class="league" data-id="4">NHL Hockey</div>    	    	    	
	</li>
</ul>