<!-- app/views/shared/_sidebar.html.erb -->

<ul class="nav nav-stacked fixed sports-sidebar" id="sidebar">
    <li>
		<% @leagues.each do |league| %>
        	<div class="league"><%= league.abbreviation %> <%= league.sport.name %></div>	    	
		<% end %>
    </li>
</ul>