.main-container {
	width: 1200px;

	.container{
		width: 90%;
	}

	.sidebar-content{
		border-right: 1px solid silver;

		.sports-sidebar {
			.nav>li>.league {
			    color: #999;
			    padding: 4px 20px;
			    font-size: 13px;
			    font-weight: 400;
		    }

		    .league{
		    	margin-bottom: 20px;
		    	font-size: 15px;
		    	cursor: pointer;
		    }
		}		
	}	
}

